div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
/* body{
    background-image: url(walpaper.jpg);
    background-size: contain;
    background-repeat: no-repeat;
} */

body{
    background-image: url(walpaper.jpg);
    background-size: cover;
}

#box1{
    background-color: aquamarine;
    background-image: url(images.png);
    background-size: cover;
}

#box2{
    background-color: red;
}

#box3{
    background-color: green;
}

#box4{
    background-color: blue;
}